@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<h1>To contact</h1>

<ul class="list-group">
    
    <h1> @TempData.Peek("username")</h1>
    <li class="list-group-item"></li>
    <li class="list-group-item">Name</li>
    <li class="list-group-item">Cls</li>
</ul>